@import 'styles/variables.scss';
* {
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $font;
  background-color: $color-background;
}

section {
  width: 100%;
  display: flex;
  min-height: 100%;
  align-items: center;
  display: -webkit-flex;
  justify-content: center;
}
